<h1>Cart</h1>

<% if current_cart.items.any? %>
  <ul>
    <%= render :partial => 'carts/item', :collection => current_cart.items %>
  </ul>
  Total <span id="cart_total"><%= number_to_currency current_cart.total %></span>
  <%= link_to_function "I'm hungry!! Let's move on", "$('new_order').show()" %>
  <% form_for current_cart, :html => {:style => "display: none"} do |f| %>
    <p>
      <%= f.label :delivery_method %><br />
      <%= f.select :delivery_method, Order::DELIVERY_METHODS, {}, :onchange => "deliveryMethodSelected();" %>
    </p>
    <p id="address" style="display: none;">
      <%= f.label :address %><br />
      <%= f.text_field :address, :value => current_user.try(:address) %>
    </p>
    <p>
      <%= f.submit "Checkout" %>
    </p>
  <% end %>
<% else %>
  No products yet, <%= link_to 'go shop', root_path %>
<% end %>