<%= form.error_messages %>

<p>
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :description %><br />
  <%= form.text_field :description %>
</p>
<p>
  <%= form.label :tip %><br />
  <%= form.text_field :tip %>
</p>
<p>
  <%= form.label :category %><br />
  <%= form.select :category, options_for_select(Product::CATEGORIES) %>
</p>
<p>
  <%= form.label :price %><br />
  <%= form.text_field :price %>
</p>
<p>
  <%= form.file_field :image %>
</p>
