<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Pizzaria</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'jquery-1.4.2.min.js', 'rails.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <h1><%= link_to "Pizzaria", root_path %></h1>
    <div id="user_bar">
      <% if current_user %>
        <%= link_to "Edit Password", edit_registration_path(:user) %> |
        <%= link_to "Sign out", destroy_session_path(:user) %>
      <% else %>
        <%= link_to "Sign in", new_session_path(:user) %>
      <% end %>
    </div>
  </div>
  <div id="wrapper">
    <div id="main">
      <%= content_tag(:p, notice, :class => 'notice') if notice.present? %>
      <%= content_tag(:p, alert, :class => 'alert') if alert.present? %>
      <%= yield %>
    </div>
    <div id="sidebar">
      <%= render "carts/cart" %>
      <%= yield :sidebar %>
    </div>
  </div>
  <div id="footer">
    Pizzaria is a sample application build for the book <a href="http://beginningrails.com">Beginning Rails 3</a>
  </div>
</body>
</html>